/* You can add global styles to this file, and also import other style files */
/* Navbar */
/* body{
   background-image: url("assets/images/author.jpg"); 
  background-repeat:no-repeat; 
  background-size:cover;   
}  */
body,html{
  height: 100%;
}
.nav .navbar-nav {
    font-size: 15px;
  }
.navbar-inverse .navbar-brand {
    color: white;
}
  #searchForm {
    margin-right: 100px;
  }
  @media (max-width: 1200px) {
    #searchForm {
      display: none;
    }
  }
  h3{
    text-align: center;
  }
  .search{
    position: relative;
  
  }
  .search .fa-search{
    position: absolute;
    top: 10px;
    right: 6px;
  }
  .add-search {
    margin-bottom: 15px;
  }
  .content{
    width: 250px;
    height: 420px;
    margin: 15px auto ;
    background:  linen;
    position: relative;
  }
  .content img{
    width: 100%
  }
  .person-info{
    padding: 0 15px;
    padding-bottom: 15px;
    color: black ;
  }
  
  /* .content:hover .delete{
    
    display: block;
  }
  .content .delete{
    color: red;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none ;
  } */
  
  .content {
      position: relative;
  }
  
  .content:hover .delete {
      display: block;
  }
  
  .delete {
      padding-top: 7px;	
      padding-right: 7px;
      position: absolute;
      right: 0;
    top: 0;
    font-size: 20px;
      display: none;
  }
  
  .delete button {
      color: orangered ;
  }
  
  .addToDashboard{
  font-size: 50px;
  position: fixed;
  top: 12%;
  right: 2%;
  }
  contentRead{
    position: relative ;
  }
  .contentRead .btn-primary{
    position: absolute;
    bottom: 0;
    left: 10px;
    background: none;
    color: darkorange;
    border: none;
  }

@media only screen and (max-width: 991px) {
  .addToDashboard {
      font-size: 38px;
      top: 12%;
  }
  .navbar-inverse .navbar-brand {
    font-size: 12px;
    padding-right: 2px;
  } 
  /* .background-class{
   width: 800px;
   height : 800px;
  } */
}
/* .carouselLogin { 
  background-image: url("assets/images/background.jpg");
} */