<div class="container-fluid background-class"> 
   <!-- <div class="col-sm-6">  -->
       <div>
        <div class="login">
            <form class="form-row">
                    <div class="login-fields-header">
                        <h4>Sign In</h4>
                    </div><hr>
               
                    <div class="login-fields">
                        <input type="text" class="form-control" placeholder="User Name" name ="user" [(ngModel)] ="user">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
               
                    <div class="error" *ngIf="wrongUser">
                        <p style = " color: red ; padding-left: 58px">Wrong Username</p>
                    </div>

                    <div class="login-fields" >
                      <input type="password" class="form-control" placeholder="Password" name ="password" [(ngModel)] = "password" >
                      <i class="fa fa-key" aria-hidden="true"></i>
                     
                    </div>  
               
                    <div class="error" *ngIf="wrongPwd">
                        <p style = " color: red ; padding-left: 58px">Wrong Password</p>
                    </div>

                    <div class="login-fields"> 
                        <button type="submit" class="btn btn-primary" (click) = "submit(user , password)" > Submit</button>
                    </div>
              
            </form>
        </div>
    </div>
</div>
<!-- </div> -->
